In [91]:
import pandas as pd
import numpy as np
import self as self

In [98]:
# Read df, drop predictors
x_val = pd.read_excel('../Data/dec22/data_input.xlsx', sheet_name='pol')
x_val = x_val.drop(['db'], axis=1)

In [99]:
# Format data to test model ability to predict between angles of train data.
for row in range(len(x_val)):
    x_val.at[row, 'degree'] = x_val.iloc[row, 1] + 7.5

In [97]:
x_val_dict = []
x = 7.5
for i in range(x_val.groupby('degree').unique().sum()):
    x_val_dict[i] = x_val.loc[(x_val.degree == x)]
    x = x + 15
x_val_dict.head(len(x_val_dict))

# x_val.rename(columns = {'degree':'7.5'}, inplace = True)
# formatted_x_val = x_val.loc[(x_val.degree == 7.5)]

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

In [100]:
x_val.to_csv('../Data/dec22/x_validation.csv', index_label=False)

In [79]:
xval = x_val.loc[(x_val.degree == 7.5)]

    theta  degree
0      45     7.5
1      50     7.5
2      55     7.5
3      60     7.5
4      65     7.5
5      70     7.5
6      75     7.5
7      80     7.5
8      85     7.5
9      90     7.5
10     95     7.5
11    100     7.5
12    105     7.5
13    110     7.5
14    115     7.5
15    120     7.5
16    125     7.5
17    130     7.5
18    135     7.5
19    140     7.5
20    145     7.5
21    150     7.5
22    155     7.5